.file-tile {
  border: .065rem solid #ccc;
  border-radius: .375rem;
  margin-bottom: .625rem;
  margin-left: -1.5rem;
  padding: .625rem;
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
  word-break: break-word;
  text-align: justify;
  height: 1em;
  width: 32.6rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-tile.expanded {
  background-color: #ffffff;
  border-color: #89b7da;
  height: 25rem;
  overflow: scroll;
}

.file-tile span {
  font-size: 1.5 rem;
  margin: .31rem 0;
}

.file-tile span:hover {
  color: #89b7da;
}

.file-tile-header-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.file-tile:hover {
  background-color: #f5f9fd;
}

.file-tile-header {
  margin-top: -1.5rem;
  margin-bottom: -1rem;
}

.file-tile.inactive {
  background-color: #e8e8e8;
}

.file-tile span {
  font-size: 1.5rem;
  margin-left: .5rem;
}

.file-tile-content {
  border-top: .0625rem solid #ccc;
}